/* Personnalisation de la barre de défilement pour le header */
header nav div::-webkit-scrollbar {
  height: 3px;
}

header nav div::-webkit-scrollbar-track {
  background: #f1f1f1;
}

header nav div::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
} 